.update-menu {
    width: 100vw;
    height: 100vh;
    background-color: #D8E2DC;
}

.update-menu-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.update-menu-box h3 {
    color: #9D8189;
    text-align: center;
}

.add-dessert-section {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.add-dessert-section button, .delete-button {
    border: none;
    border-radius: 0.375rem;
    background-color: #9D8189;
    color: #FFE5D9;
}

.add-dessert-section button:hover, .delete-button:hover {
    background-color: #F4ACB7;
    color: #9D8189;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.preview-section {
    margin-bottom: 2rem;
}

.preview-menu-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    overflow-y: scroll;
}


.list-group {
    width: 100%;
    margin-bottom: 1rem;
}

.update-inline {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem
}